.portfolio {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 30px 0 0;
}

.portfolio__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8B8B8B;
    margin: 0;
    mix-blend-mode: normal;
}

.portfolio__list {
    display: grid;
    list-style: none;
    padding: 20px 0 0;
    margin: 0;
}

.portfolio__item {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #424242;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    padding-bottom: 19px;
    text-decoration: none;
}

portfolio__list-item-wrap {
    padding: 0;
    height: 89px;
}

.portfolio__item-text {
    margin: 20px 0 0;
    color: #FFFFFF;
    text-align: center;

}

.portfolio__list-item-wrap:nth-child(3) :any-link {
    border-bottom: none;
}


@media screen and (min-width: 768px) {
    .portfolio {
        /* display: flex;
        flex-direction: column;
        margin: 0; */
        padding: 9px 0 0;
    }

    .portfolio__title {
        font-size: 18px;
        /* padding: 24px 0 30px; */
        padding: 18px 0 8px;
    }


    .portfolio__list {
        
        padding: 12px 0 0;
      
    }

    .portfolio__item-text {
        font-size: 28px;
        line-height: 50px;
        margin-bottom: 9px;
        letter-spacing: -0.004em;
    }

    .portfolio__item-text_arrow {
        line-height: 60px;
    }

    .portfolio__list {
        display: block;
    }

    .portfolio__item {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .portfolio {
        padding: 5px 0 0;
    }

    .portfolio__title {
        padding: 32px 0 30px;
    }

    .portfolio__list {
        padding-top: 0;
    }
}