.header {
    width: 100%;
    max-width: 1280px;
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    height: 74px;
    align-items: center;
    padding: 18px 14px;
    box-sizing: border-box;
    background-color: inherit;
    z-index: 1;
}

.header__reg{
  
    background-color: #073042;
  

}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__links {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin: 0;
    width: 100%;
}

.header__links-movies {
    justify-self: center;
}

.header__link {
    text-decoration: none;
    align-self: center;
    color: #FFFFFF;
}

.header__link_auth {
    padding: 0px 8px;
}

.header__link_active {
    font-weight: 400;
}

.header__link-item {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    min-height: 26px;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
}

.header__menu-icon {
    grid-column-start: 3;
    justify-self: end;
}

.header__link-item_login {
    color: #202020;
    margin-left: 14px;
    padding: 0 12px;
    text-align: center;
    background: #3DDC84;
    border-radius: 3px;
}

.profile-button {
    /* height: 32px; */
    border: none;
    background-image: url(../../images/profile.svg);
    background-repeat: no-repeat;
    /* color: #FFFF; */
    /* padding: 0 20px; */
    /* width: max-content; */
    justify-self: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.profile-button-wraper {
    display: none;
    justify-self: end;
    
    padding-top: 7px;
    
    
    width: 115px;

}

.profile-button-wraper-burger {
    justify-self: center;
    display: flex;
    text-decoration: none
}

.burger-menu-section {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background: #00000078;
}

.burger-menu {
    z-index: 12;
    position: absolute;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: max-content 1fr auto;
    height: 100%;
    top: 0;
    right: 0;
    padding-bottom: 46px;
    background: #202020;
    width: 320px;
}

.burger-menu__button-close {
    background-image: url(../../images/button-close.svg);
    margin: 28px 22px;
    box-sizing: border-box;
    width: 34px;
    height: 37px;
    border: none;
    background-color: transparent;
    background-size: cover;
    justify-self: end;
}

.burger-menu__container {
    display: flex;
    justify-content: center;
    padding-top: 66px;
}

.burger-menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    list-style-type: none;
}

.burger-menu__list-item {
    padding-top: 15px;
    display: flex;
    height: 29px;
}

.burger-menu__link {
    display: inline;
    text-decoration: none;
    color: #FFFFFF;
}

.burger-menu__link-active {
    border-bottom: 2px solid #FFFFFF;
}

@media screen and (min-width: 320px) {
    .header__links-movies {
        display: none;
    }

    .header__link-item_login {
        margin-left: 14px;
    }

    .header__menu-icon {
        width: 38px;
        padding-bottom: 3px;
    }
  
}

@media screen and (min-width: 760px) {
    .header {
        padding: 18px 30px 18px 25px;
    }

    .header__links {
        font-size: 12px;
        line-height: 16px;
    }
    .header__logo {
        padding-left: 5px;
        padding-top: 3px;
    }
   
    .burger-menu__button-close {
      
        margin: 21px 22px;
        
    }
    

    .header__menu-icon {
        width: 42px;
        padding: 0;
    }

    .header__link-item {
        font-size: 12px;
        min-height: 32px;
    }

    .burger-menu {
        width: 520px;
        padding-bottom: 73px;
    }

    .burger-menu__list-item {
        padding-top: 18px;
    }

    .header__link-item_login {
        margin-left: 30px;
        padding: 0 20px;
    }
    /* .header__reg{
        padding: 0;
    } */
}

@media screen and (min-width: 1280px) {
    .header {
        padding: 18px 70px;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: 67px 246px 1fr;
    }

    .header__links-movies {
        display: flex;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }

    .header__links {
        grid-column: 3;
        justify-self: end;
    }

    .profile-button-wraper {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .header__menu-icon {
        display: none;
    }
    /* .header__reg{
        padding: 0;
    } */

}