.about-project {
    padding: 56px 18px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about-project__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.04em;
    height: 51px;
    border-bottom-style: solid;
    border-color: #DADADA;
    border-width: 1px;
    margin: 0;
}

.two-columns {
    display: flex;
    gap: 56px;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.two-columns__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 16px;
}

.two-columns__subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
    padding-top: 20p—Ö;
}

.about-project__progress {
    display: grid;
    width: 100%;
    grid-template-columns: 100px auto;
    grid-template-rows: 35px 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

.about-project__progress-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__progress-item:nth-child(1) {
    background-color: #3DDC84;
    color: black;
}

.about-project__progress-item:nth-child(2) {
    background-color: #303030;
    color: #FFFFFF;
}

.about-project__progress-item:nth-child(3) {
    color: #8B8B8B;
}

.about-project__progress-item:nth-child(4) {
    color: #8B8B8B;
}

@media screen and (min-width: 768px) {
    .about-project {
        gap: 70px;
        /* padding: 70px 50px 80px; */
        padding: 87px 47px 80px;
    }

    .about-project__progress {
        grid-template-columns: 140px auto;
        grid-template-rows: 36px 42px;
        /* padding-top: 17px; */
        padding-top: 39px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .two-columns {
        flex-direction: row;
        gap: 40px;
        margin: 0;
    }

    .two-columns__item {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .two-columns__title {
        padding-bottom: 26px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.04em;
    }
}

@media screen and (min-width: 1280px) {
    .about-project {
        padding: 114px 70px 105px;
    }

    .two-columns__title {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 26px;
    }

    .two-columns__subtitle {

        font-size: 14px;
        line-height: 20px;
    }

    .about-project__progress {
        padding-top: 40px;
        grid-template-columns: 228px auto;
        grid-template-rows: 36px 36px;
        font-size: 14px;
        line-height: 17px;
    }

    .about-project__progress-item:nth-child(4) {
        padding-top: 9px;
    }

    .about-project__progress-item:nth-child(3) {
        padding-top: 9px;
    }

}