.movies__cards-section {
    display: grid;
    gap: 20px;
    padding-bottom: 0;
    box-sizing: border-box;
    justify-items: center;
}

.movies__error {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #EE3465;
}

.movies__more-button {
    width: 240px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #2F2F2F;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    margin: 50px 0 80px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .movies__cards-section {
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
        justify-items: stretch;
    }

    .movies__more-button {
        width: 320px;
        justify-self: center;
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .movies__cards-section {
        grid-template-columns: none;
        width: 100%;
        justify-items: stretch;
        display: grid;
        gap: 24px 16px;
        grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .movies__more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px 409px 88px;
    }
}